


<!-- <div class="sidebar float-left" id="menuLateral">
  <ul id="batiment" class=" text-left list-group flex-column">
    <li class="list-group-item">
    <i class="fa fa-home "></i>  Batiment
    </li>
    <li class="list-group-item">
      BatimentA
    </li>
    <li class="list-group-item">
      BatimentB
    </li>
    <li class="list-group-item">
      BatimentC
    </li>

    <li class="list-group-item">
        <i class="fa fa-desktop"></i> Lots
      </li>
      <li class="list-group-item">
        LotA
      </li>
      <li class="list-group-item">
        LotB
      </li>
      <li class="list-group-item">
        LotC
      </li>

      <li class="list-group-item">
          <i class="fa fa-calendar"></i>   Siots
        </li>
        <li class="list-group-item">
          SiotA
        </li>
        <li class="list-group-item">
          SiotB
        </li>
        <li class="list-group-item">
          SiotC
        </li>
  </ul>
</div> -->

  <!-- <div class="col-md-2 float-left width" id="menuLateral">
    <div class="list-group card text-center " >
      <a href="batiment" class="list-group-item d-inline-block" data-parent="#menuLateral">
         <i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">Batiment</span> </a>
         
         <div class="collapse" id="menu1">
           <a href="batiment1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Batiment1</a>
         </div>
    </div>
  </div> -->
  <div class="card menu_lateral2" style="margin-top: 45px;">
<div class="card">
    <div class="card-heading bg-primary">
      <h4 class="card-title">
        <a data-toggle="collapse" href="#collapse1"> <i class="fa fa-home"></i> Mes Batiments</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-lightbulb-o"></i> Batiment Chair A</li>
        <li class="list-group-item"><i class="fa fa-lightbulb-o"></i> Batiment Chair B</li>
        <li class="list-group-item"><i class="fa fa-lightbulb-o"></i> Batiment Chair C</li>
      </ul>
    </div>
  </div>
  <div class="card">
      <div class="card-heading bg-primary">
        <h4 class="card-title">
          <a data-toggle="collapse" href="#collapse2"> <i class="fa fa-gears" ></i> Mes Lots</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item"> <i class="fa fa-cog"></i> LotsA</li>
          <li class="list-group-item"><i class="fa fa-cog"></i> LotsB</li>
          <li class="list-group-item"><i class="fa fa-cog"></i> LotsC</li>
        </ul>
        
      </div>
    </div>
    <div class="card">
        <div class="card-heading bg-primary">
          <h4 class="card-title">
            <a data-toggle="collapse" href="#collapse3"><i class="fa fa-cube"
              ></i> Mes Silots</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <ul class="list-group">
            <li class="list-group-item"> <i class="fa fa-life-ring"></i> Silot A</li>
            <li class="list-group-item"><i class="fa fa-life-ring"></i> Silot B</li>
            <li class="list-group-item"><i class="fa fa-life-ring"></i> Silot C</li>
          </ul>
         
        </div>
      </div>
    </div>
  
