<div class="row" style="padding-top: 16px;">
    <div class="offset-9">
      <div class="col" style="color:rgba(224, 143, 21, 0.877);">
        <i class="fa fa-bell-o"></i>
        <b> Rappels</b>
      </div>
    </div>
    <div class="col">
      <!--   -->
      <div class="dropdown" style="color:limegreen;">
        <p class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-o"></i>
          <b> User </b>
        </p>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">
            <i class="fa fa-area-chart" style="font-size:12px"></i> Reporting Data</button>
          <button class="dropdown-item" type="button">
            <i class="fa fa-line-chart"></i> Graphes</button>
          <button class="dropdown-item" type="button">
            <i class="fa fa-building" style="font-size:14px"></i> All Batiments</button>
          <button class="dropdown-item" type="button">
            <i class="fa fa-sign-out" style="font-size:17px"></i> Deconnexion</button>
        </div>
      </div>
    </div>
  </div>
  <hr>


<div  style="margin-top: 20px; font-family: Exo; text-align: center; color:#0080ff; font-size:30px;
text-decoration: underline;">
   Redirection Reporting des Données
    
    </div>

<div class="container"  style="margin-top: 20px; font-family: Exo;">
  Vous pouvez aux informations de reportage des données saisis recemment ou en archives.
  Afficher les graphes de reportage sur ces données. 
  Ces graphes montre l'evolution des activité de la ferme tel que:La consommation en eau, la consommation en aliment,
  la santé des animaux,le facteur performance c'est à dire la productivité en paralléle avec l'optimisation des ressources 
  de la ferme...
    
    </div>


<div class="col-md-3 offset-md-5" style="margin-top: 30px;">
  
    <button class="btn btn-success" routerLink="/reportingData">REPORTING DATA</button>
  </div>