

 <router-outlet></router-outlet> 
<!-- Footer -->
<div class="card text-center">
    <div class="card-footer  text-muted">© 2018 Copyright
        <a href="/"> <strong>Avision</strong> </a>
    </div>
</div>
<!-- <app-menu-lateral></app-menu-lateral> -->




<!-- <nav>
    <a routerLink="/formlaireLogin"></a>
</nav>
<nav>
    <a routerLink="/formSaisiInfo"></a>
</nav>
<nav>
    <a routerLink="/AfficheSaisi"></a>
</nav>
<hr> -->
<!-- <app-formulaire></app-formulaire>
<app-form-aliment></app-form-aliment> 
<app-form-login></app-form-login>  -->
<!-- <app-reporting-data></app-reporting-data> -->



