<div class="row" style="padding-top: -50px;">
        <div class="container">
                <p style="color:#0080ff; margin-top: 15px; margin-left:100px;">
                  <i class="fa fa-building"> Mes Batiments</i>
                </p>
                <p style="font-weight:bold; font-size: 25; margin-left:100px;">Batiment Chaire A</p>
              </div>
        <div class="offset-9">
          <div class="col" style="color:rgba(224, 143, 21, 0.877);">
            <i class="fa fa-bell-o"></i>
            <b> Rappels</b>
          </div>
        </div>
        <div class="col">
          <!--   -->
          <div class="dropdown" style="color:limegreen;">
            <p class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-o"></i>
              <b> User </b>
            </p>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">
                <i class="fa fa-area-chart" style="font-size:12px"></i> Reporting Data</button>
              <button class="dropdown-item" type="button">
                <i class="fa fa-line-chart"></i> Graphes</button>
              <button class="dropdown-item" type="button">
                <i class="fa fa-building" style="font-size:14px"></i> All Batiments</button>
              <button class="dropdown-item" type="button">
                <i class="fa fa-sign-out" style="font-size:17px"></i> Deconnexion</button>
            </div>
          </div>
        </div>
</div>
      <hr>
    
     
        <div class="col-md-10 panneaux">
                <div class="text-center title_offset" style="margin-top: 20px;
                color: #0080ff; font-size: 25px; text-decoration: underline;">
                DONNEES SAISIES
                </div>
                <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-primary text-center" style="color: #ffffff;">
                             <b>Informations de cumules</b>
                            </div>
                            
                            <div class="card-body row col-md-12 text-right">
                                    <div class="col-md-4 text-right">
                                            <div>
                                                    <label class="text-right" for="age">Ages de animaux</label>
                                                </div>
                                               
                                                <div>
                                                    <label for="ndAnimaux_Lot">Nombre d'animaux au depart du lot</label>
                                                </div>
                                               
                                                <div>
                                                    <label for="ndAnimaux_Pres">Nombre d'animaux présent</label>
                                                </div>
                                                
                                                <div>
                                                    <label for="mortalite">La mortalité</label>
                                                </div>
                                                
                                                <div>
                                                    <label for="taux_mortalite">Le taux de mortalité</label>
                                                </div>
                                                
                                                <div>
                                                    <label for="temps_lot">Temps passé sur lot</label>
                                                </div>
                                                
                                                <div>
                                                    <label for="mortalite">La mortalité</label>
                                                </div>
                                                
                                </div>
                             
                                <div class="col-md-6 text-right">
                                        <div>
                                                <label for="cumul_aliment">Cumule de consommation d'aliments</label>
                                            </div>
                                            
                                            <div>
                                                <label for="cumule_poule">Cumule d'aliment par poule</label>
                                            </div>
                                            
                                            <div>
                                                <label for="cumil_eau">Cumule de consommation d'eau</label>
                                            </div>
                                            
                                            <div>
                                                <label for="mortalite">La mortalité</label>
                                            </div>
                                            
                                            <div>
                                                <label for="taux_mortalite">Le taux de mortalité</label>
                                            </div>
                                            <div>
                                                <label for="temps_lot">Temps passé sur lot</label>
                                            </div>
                                            
                                            <div>
                                                <label for="mortalite">La mortalité</label>
                                            </div>
                                            
                                        </div>
                                <!-- <div class="row offset-5">
                                        <div class="btn btn-primary col-md-3 btn-sm">
                                            <i class="fa fa-edit"></i> Editer
                
                                        </div>
                                    </div> -->
                                   
                            </div>
                        </div>
                   
                    </div>
                </div>
               <hr>
                <div class="col-md-10 panneaux" style="margin-top: 20px;">
                        <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header bg-primary text-center" style="color: #ffffff;">
                                     <b>Dernière données saisies</b>
                                    </div>
                                    <div class="card-body row col-md-12 text-right">
                                            <div class="col-md-4 text-right">
                                                    <div>
                                                            <label for="date">Date</label>
                                                        </div>
                                                        <div>
                                                            <label for="ndAnimaux_Lot">Mortalité</label>
                                                        </div>
                                                        <div>
                                                            <label for="ndAnimaux_Pres">Evenement</label>
                                                        </div>
                                                        <div>
                                                            <label for="mortalite">Température du batiment</label>
                                                        </div>
                                                        <div>
                                                            <label for="taux_mortalite">Lumière de</label>
                                                        </div>
                                                        <div>
                                                            <label for="temps_lot">à:</label>
                                                        </div>
                                                        <div>
                                                            <label for="mortalite">Soit une durée de</label>
                                                        </div>
                                        </div>
                                        <div class="col-md-6 text-right">
                                                <div>
                                                        <label for="qte_ali_indiv">Quantite d'aliment distribuée par individu</label>
                                                    </div>
                                                    <div>
                                                        <label for="type_ali" class="text-right">Type d'aliment</label>
                                                    </div>
                                                    <div>
                                                        <label for="prov_silo_ali">Provenance Silo Aliment</label>
                                                    </div>
                                                    <div>
                                                        <label for="qte_indiv">Quantite distribuée par individu</label>
                                                    </div>
                                                    <div>
                                                        <label for="prov_sil_eau">Provenance Silo eau</label>
                                                    </div>
                                                    <div>
                                                        <label for="r_eau_ali">Ratio eau/aliment</label>
                                                    </div>
                                                    <div>
                                                        <label for="Note">La Note</label>
                                                    </div>
                                                </div>
                                        <!-- <div class="row offset-5">
                                                <div class="btn btn-primary col-md-3 btn-sm">
                                                    <i class="fa fa-edit"></i> Editer
                        
                                                </div>
                                            </div> -->
                                           
                                    </div>
                                </div>
                           
                            </div>
                            
                        </div>
                        <hr>

                        






 <!-- <div class="row offset-5">
                                    <div class="btn btn-primary col-md-3 btn-sm">
                                        <i class="fa fa-edit"></i> Editer
            
                                    </div>
                            </div> -->